{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Password</h1>
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">
                    Password Reset
                    {{ form|crispy }}
                </legend>
                <div class="form-group">
                    <button type="submit"> Reset password </button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content%}