{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'covid.css' %}">
    </head>
    <body>
        <div class="container mt-4">
        <H1 class="text-center">Covid POLAND {{date}}</H1>
        <div class="container w-50 p-3" id="box">
            <p class="text-center bg-light">Poland total data</p>
            <div class="bg-warning w-75 pl-4 text-center mx-auto m-2"> confirmed: <strong> {{ confirmed }} </strong> </div>
            <div class="bg-success w-75 pl-4 text-center mx-auto m-2"> recovered: <strong> {{recovered}} </strong></div>
            <div class="bg-danger w-75 pl-4 text-center mx-auto m-2"> critical: <strong> {{critical}} </strong>  </div>
            <div class="bg-dark w-75 pl-4 text-center text-light mx-auto m-2"> deaths: <strong> {{deaths}} </strong> </div>
        </div>

        <div class="container w-50 p-3 mt-2" id="box">
            <div class="m-4">
                <p class="text-center bg-light">Poland today data</p>
                <div class="bg-warning w-75 pl-4 text-center mx-auto m-2"> new confirmed: <strong> {{ today_new_confirmed }} </strong> </div>
                <div class="bg-success w-75 pl-4 text-center mx-auto m-2"> new recovered: <strong> {{ today_new_recovered }} </strong></div>
                <div class="bg-danger w-75 pl-4 text-center mx-auto m-2"> new deaths: <strong> {{ today_new_deaths }} </strong>  </div>
            </div>
        </div>
        <div class="container w-50 p-3 mt-2 text-right" id="box">
            <p>date at: {{api_date}}</p>
            <p>source: {{source}}</p>
        </div>

        </div>
    </body>
</html>
