<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
</head>

<body style="background-color: lightcyan">
  <h1>Covid Poland</h1>

  <div class="container d-flex">
    <div class="container" style="width: 400px; float: left;">
      <p>today new confirmed</p>
      <canvas id="myChart" width="50" height="50">
        <script>
          $(document).ready(function(){
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [{% for data in datas %}'{{ data.date }}',{% endfor %}],
                  datasets: [{
                      label: '# of Votes',
                      data: [{% for data in datas %}{{ data.today_new_confirmed }},{% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
          });
          </script>
      </canvas>
    </div>


    <div class="container" style="width: 400px; float: left;">
      <p>today_new_deaths</p>
      <canvas id="myChart1" width="50" height="50">
        <script>
          $(document).ready(function(){
          var ctx = document.getElementById('myChart1').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: [{% for data in datas %}'{{ data.date }}',{% endfor %}],
                  datasets: [{
                      label: '# of Votes',
                      data: [{% for data in datas %}{{data.today_new_deaths}},{% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
          });
          </script>
      </canvas>
    </div>
  </div>
    </body>



</html>