{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{% static 'calc.css' %}"> -->
    </head>
    <body>
        <div class="container mt-4">
        <H1 class="text-center">CALCULATOR</H1>
        <form action ="buttonClicked" method="POST">
            {% csrf_token %}
          <div class="calculator">

            <input type="text" class="calculator-screen" value="0" disabled name = "text-box"/>

            <div class="calculator-keys">

              <button type="button" class="operator" value="+">+</button>
              <button type="button" class="operator" value="-">-</button>
              <button type="button" class="operator" value="*">&times;</button>
              <button type="button" class="operator" value="/">&divide;</button>

              <button type="button" value="7">7</button>
              <button type="button" value="8">8</button>
              <button type="button" value="9">9</button>


              <button type="button" value="4">4</button>
              <button type="button" value="5">5</button>
              <button type="button" value="6">6</button>


              <button type="submit" value="1" name="btn1">1</button>
              <button type="button" value="2">2</button>
              <button type="button" value="3">3</button>


              <button type="button" value="0">0</button>
              <button type="button" class="decimal" value=".">.</button>
              <button type="button" class="all-clear" value="all-clear">AC</button>

              <button type="button" class="equal-sign" value="=">=</button>

            </div>
          </div>
        </form>

    </body>
</html>